{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body>
        {{template "content" .}}


        {{template "js" .}}


        {{template "footer" .}}
    </body>
    </html>
{{end}}